---
import Layout from '../../layouts/Layout.astro';
import resume from '../../data/resume.json';
import AnimatedList from '../../components/elements/AnimatedList.astro';
import AnimatedWrapper from '../../components/elements/AnimatedWrapper.astro';
import ResumeCardBlock from '../../components/blocks/ResumeCardBlock.astro';
import Spacer from '../../components/elements/Spacer.astro';
---

<Layout pageTitle="Resume">

  <p class="intro">I've been involved with computers for as long as I can remember. From the early days hacking away at Geocities sites to the current era building out complex pattern libraries, <em>the web has been a major part of my craft</em>.</p>
  <p>My work has taken me across boutique agencies working with clients of all sizes, to the freelance world, and currently to the academy solving complex frontend challenges in the higher ed space. Like what you see? Feel free to <a href="/contact">get in touch</a> and ask me anything!</p>
  
  <Spacer />

  <div class="resume">

    <AnimatedWrapper direction="left" triggerAt="0%" initialDelay="200">
      <h2 class="heading">Fundamental Skills</h2>
      <AnimatedList items={resume.skills} triggerAt="0%" initialDelay="600" />
    </AnimatedWrapper>

    <AnimatedWrapper direction="right" triggerAt="0%" initialDelay="1200">
      <h2 class="heading">Languages, Frameworks, and Software</h2>
      <AnimatedList items={resume.tools} triggerAt="0%" initialDelay="2000" />
    </AnimatedWrapper>

    <Spacer />

    <AnimatedWrapper direction="bottom" distance="200px" triggerAt="40%" initialDelay="3000">
      <h2 class="heading">Work Experience</h2>
      <ResumeCardBlock content="jobs" />

      <Spacer />

      <h2 class="heading">Education</h2>
      <ResumeCardBlock content="education" />

      <Spacer />

      <h2 class="heading">Awards & Accolades</h2>
      <ResumeCardBlock content="awards" />
    </AnimatedWrapper>

  </div>
</Layout>

<style lang="scss" is:global>
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  .resume {
  
    ul {
      &.animated-list {
        margin: 0 0 2rem 0;
      }

      &.resume-card-block {
        li {
          ul.resume-cards {
            margin-bottom: 1rem;

            @include bp(tablet) {
              margin-bottom: 1.5rem;
            }

            li {
              .card {

                &.resume {
                  padding: 1rem 0;
                  transition: background ease-in-out var.$tran-slow;

                  @include bp(tablet) {
                    padding: 1rem 1.5rem;

                    &:hover {
                      background: var.$color-light-grey;
                      cursor: grab;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    h2 {
      &.heading {
        font-family: var.$bayside-font-serif;
        margin: 0 0 0.5rem;
      }
    }

    h3 {
      &.heading {
        font-family: var.$bayside-font-serif-alt;
      }
    }
  }

</style>