@charset 'UTF-8';
@use 'sass:map';

@use './base/breakpoints.scss' as *;
@use './base/vars.scss' as var;

// IMAGES

img {
  width: 100%;
  height: auto;
  vertical-align: top;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  // LAYOUT SPECIFIC IMAGES

  &.cover {
    margin: 0 auto;
    display: block;
  }
}

// TEMPLATE SPECIFIC IMAGE LAYOUT

.work {
  img.cover {
    max-width: 480px;

    @include bp(mobile) {
      width: 50%;
      float: right;
      margin: 0 0 1.5rem 1.5rem;
    }
  }
}