@charset 'UTF-8';
@use 'sass:map';

@use './base/breakpoints.scss' as *;
@use './base/vars.scss' as var;

// LAYOUT

body {

  header {}

  main {
    .col-1,
    .col-2,
    .col-3 {
      display: grid;
      gap: 1rem;
      margin: 2rem auto;

      a {
        display: block;
      }
    }

    .col-1 {
      grid-template-columns: 100%;

        a,
        img {
          &:last-child:nth-child(odd) {
            grid-column: 1 / -1;
          }
        }

      &.xl {
        @include bp(xl) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    .col-2 {
      @include bp(tablet) {
        grid-template-columns: 1fr 1fr;
      }

      a,
      img {
        &:last-child:nth-child(odd) {
          grid-column: 1 / -1;
        }
      }
    }

    .col-3 {
      @include bp(mobile) {
        grid-template-columns: 1fr 1fr;

        a,
        img {
          &:last-child:nth-child(odd) {
            grid-column: 1 / -1;
          }
        }
      }

      @include bp(tablet) {
        grid-template-columns: repeat(6, 1fr);

        a,
        img {
          grid-column: span 2;
        }

        a:last-child:nth-child(3n + 1)
        img:last-child:nth-child(3n + 1) {
          grid-column: span 6;
        }

        a:last-child:nth-child(3n + 2),
        a:nth-last-child(2):nth-child(3n + 1),
        img:last-child:nth-child(3n + 2),
        img:nth-last-child(2):nth-child(3n + 1) {
          grid-column: span 3;
        }
      }
    }
  }

  footer {}

  header,
  main,
  footer {
    box-sizing: border-box;
    transition: all var.$tran-med;
    width: 100%;
  }
}