@charset 'UTF-8';
@use 'sass:map';

@use './base/breakpoints.scss' as *;
@use './base/vars.scss' as var;

// TEXT AND TYPOGRAPHY

// HEADINGS

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  
  &.page-heading {
    text-transform: capitalize;
    margin: 0 0 0.5rem;
  }

  &.heading {
   margin: 0 0 1rem;
  }
}

// INLINE ELEMENTS

a {
  text-decoration: underline;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}