/* GLOBAL */
$color-black: #010101;
$color-white: #ffffff;

/* FILTERS */
$filter-white: brightness(0) invert(1);
$filter-black: brightness(0) invert(0);

/* THEMES */
$concentrate-page-background: #171717;
$concentrate-primary-foreground: #a3a3a3;
$concentrate-secondary-foreground: #f5f5f5;
