/* COLORS */

/* Concentrate */
$concentrate-page-background: #171717;
$concentrate-primary-foreground: #a3a3a3;
$concentrate-secondary-foreground: #f5f5f5;
$filter-concentrate-primary: invert(68%) sepia(32%) saturate(0%) hue-rotate(131deg) brightness(91%) contrast(88%);
$filter-concentrate-secondary: invert(99%) sepia(3%) saturate(176%) hue-rotate(290deg) brightness(115%) contrast(92%);

/* FONTS */

/* Font families */
$font-family-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-family-secondary: serif;
$font-monospace: monospace;

/* Font weight */
$weight-normal: 400;
$weight-bold: 700;