---
import Layout from '../layouts/Layout.astro';
import * as uses from "../data/uses.md";
const compiled= await uses.compiledContent();
---

<Layout 
  pageTitle="Uses"
  description="An artists is only as good as the tools they use. This is a comprehensive list of the things I put to use in my work life as a web developer."
>
  <p class="intro">An artists is only as good as the tools they use. This is a somewhat (hopefully) comprehensive list of the things I put to use in my work life as a web developer, inspired by <a href="https://github.com/wesbos/awesome-uses" target="_blank" rel="noopener,noreferrer">awesome-uses</a> from Wes Bos.</p>
  <p>For an even more comprehensive list of the tools and software I use in my electronic music practice you can visit my studio page (coming soon).</p>
  <p>Most of the links here are Amazon affiliate links which afford me pennies on the dollar if you click them and buy something.</p>

  <Fragment set:html={compiled} />

</Layout>

<style lang="scss">
  @use '../styles/base/vars.scss' as var;
  @use '../styles/base/breakpoints.scss' as *;
</style>