---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/elements/Card.astro';
import Spacer from '../../components/elements/Spacer.astro';
---
<Layout 
  pageTitle="Now"
  description="An about page can only tell you so much about a person. To see what I'm involved with and engrossed in right now, check out my Now page."
>

	<p class="intro">An about page can only tell you so much about a person. To see what I'm involved with and engrossed in right now, check out my Now page (inspired by Derek Silver's <a href="https://nownownow.com/" target="_blank" rel="noopener,noreferrer">nownownow.com</a> project).</p>
	<h2>Reading</h2>
	<p>Continuing my pace of reading mostly non-fiction whenever I have a little bit of free time. A friend lent me his copy of 'Salt: A world history' over the holiday break as a bit of a joke and I'm determined to work my way through it.</p>
	<ul class="cards">
		<li class="d_press-down">
				<Card
					cardType="media"
					layoutClass="column"
					cardClass="media"
					category="book"
					href="https://amzn.to/4vBCKtQ"
					imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Publication221/v4/e4/aa/68/e4aa6801-565b-5fb0-b8d2-e3b1f7de3d23/9780525558941.d.jpg/600x600bb.jpg"
					title="How to Change Your Mind"
					subtitle="Michael Pollan"
					timestamp="2019"
        />
		</li>
		<li class="d_press-down">
			<Card
				cardType="media"
				layoutClass="column"
				cardClass="media"
				category="book"
				href="https://amzn.to/4fmN3Me"
				imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Publication123/v4/b8/40/37/b84037f8-3371-9f68-d423-73b0b322e767/9781250123817.jpg/600x600bb.jpg"
				title="Factfulness"
				subtitle="Hans Rosling"
				timestamp="2020"
			/>
		</li>
		<li class="d_press-down">
			<Card
				cardType="media"
				layoutClass="column"
				cardClass="media"
				category="book"
				href="https://amzn.to/4wf6wpE"
				imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Publication124/v4/79/c6/04/79c604a3-10a1-4da4-2871-a4d8bbe01765/9780698139152.d.jpg/600x600bb.jpg"
				title="Salt: A world history"
				subtitle="Mark Kurlansky"
				timestamp="2020"
			/>
		</li>
	</ul>

	<Spacer size="md" />

	<h2>Listening to</h2>
	<p>Rediscovered an old Underworld record that I'd never dug into much beyond one or two songs. Good for a rainy day or a drive. Also getting served a lot of 'barber beats' mixes in my Youtube feed and they actually make for some decent background music while doing work.</p>
		<ul class="cards">
			<li class="d_press-down">
				<Card
					cardType="media"
					layoutClass="column"
					cardClass="media"
					category="album"
					href="https://www.youtube.com/watch?v=ytIyhEky9Lo&list=PL8CD8746FBA55F438"
					imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/dc/0a/9f/dc0a9f59-58fe-e6ed-5d0f-b021eba199f2/00602537938704.rgb.jpg/600x600bb.jpg"
					title="A Hundred Days Off"
					subtitle="Underworld"
					timestamp="2002"
				/>
			</li>
			<li class="d_press-down">
				<Card
					cardType="media"
					layoutClass="column"
					cardClass="media"
					category="album"
					href="https://www.youtube.com/watch?v=gZLEckvLPAU"
					imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Music123/v4/9d/79/9b/9d799b9b-05d7-4800-ae03-2ac193427819/cover.jpg/600x600bb.jpg"
					title="White Hot Moon"
					subtitle="Pity Sex"
					timestamp="2016"
				/>
			</li>
			<li class="d_press-down">
					<Card
						cardType="media"
						layoutClass="column"
						cardClass="media"
						category="mix"
						href="https://www.youtube.com/watch?v=s8WdtR-Jcv8"
						imageUrl="https://yt3.googleusercontent.com/gaw1AnjwyDCEN4w71pDVDRFztb0UC___UnA-WOkRldayHfJUtxWWh90Dvlp1YSExsEDu0s6L=s160-c-k-c0x00ffffff-no-rj"
						title="Blast Pit | Source Radio"
						subtitle="Hungry Skull"
						timestamp="2024"
					/>
			</li>
			<li class="d_press-down">
					<Card
						cardType="media"
						layoutClass="column"
						cardClass="media"
						category="album"
						href="https://www.youtube.com/watch?v=q1c6Fq_bgbM"
						imageUrl="https://lastfm.freetls.fastly.net/i/u/770x0/e9123739ce5e4db78748e9bfd5bb44ac.jpg#e9123739ce5e4db78748e9bfd5bb44ac"
						title="Back to Mine"
						subtitle="Groove Armada"
						timestamp="2000"
					/>
			</li>
		</ul>

	<Spacer size="md" />

	<!-- <h2>Watching</h2>
	<p></p> -->

	<Spacer size="md" />

	<h2>Building</h2>
	<p>The current task in front of me is getting the basement into shape so I can set up my little project music studio again (among other things, it's a mess down there). Walls need to be patched with concrete and painted and the ceiling and floor joists need to be painted. This will help brighten up the place but also cuts down on dust.</p>
	<p>I'll be doing a big electronic parts order soon so I can get what I need to put together a particular DIY project that have been waiting patiently to be built. The DIY synth is called Jasper and is a clone of the famous EDP Wasp (I have about 80% of the required parts). Expect a full build guide of that once I can get started.</p>

	<Spacer size="md" />

	<h2>Thinking about</h2>
	<p>Creating more features for this website! It's taken me quite a while to get this site up and running and functioning the way I want. I actually started the initial work on the site you see today way back in May 2025 when I first began twiddling with Astro, but before that I'd been using Jekyll and while it did provide a functioning site it didn't give me exactly what I wanted.</p>
	<p>There are many new features in development but besides getting them implemented I'm focused on my roadmap for deployment. Despite anything that's holding me up however I'm just proud of the shape this site has taken in such a short time.</p>
	<p>Speaking of, I'd like this Now section to be a little more than a simple page I update manually. Would it be fun to go back in time and have entires I can revisit? In some ways this section may become the bloggiest part of the whole website so maybe it makes sense to treat it as such.</p>

	<Spacer size="md" />

	<h2>Living</h2>
	<p><strong>Current location:</strong> Philadelphia, PA 🥨.</p>
</Layout>

<style lang="scss" is:global>
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

	ul.cards {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 2rem;
		align-items: flex-start;
		justify-content: flex-start;

		@include bp(tablet) {
			grid-template-columns: repeat(4, 1fr);
		}

		.image {
			img {
				max-width: 260px;
			}
		}
	}
</style>